.menu-container {
    max-width: 1200px;
    margin: auto;
    background-color: #fdfaf5 !important; /* Add !important */
    font-family: "Pacifico", cursive;
    padding: 40px;
    border-radius: 10px;
  }
  
  
  .title {
    color: #28a745;
    font-weight: bold;
    font-family: "Pacifico", cursive;


  }
  
  .headline {
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .description {
    color: #6c757d;
  }
  
  .price {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .price span {
    color: #000;
  }
  
  .food-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .btn{
        background-color: transparent;
        border: 2px solid #e87e57;
        color: #e87e57;
        border-radius: 20px;
        padding: 5px 20px;
        font-size: 1rem;
        transition: all 0.3s ease-in-out;
      }
      .btn:hover {
        background-color: #e87e57;
        color: white;
        transform: scale(1.1); /* Button expands slightly */
      }
  
  